.loader {
    margin-left: auto;
    margin-right: auto;
    /* width: ...; */
}

img {
    float: left;
}

.partieDroite {
    float: right;
    text-align: center;
}

.partieGauche {
    float: left;
}

.produitDispo {
    color: green;
}

.produitIndispo {
    color: red;
}


/* 
.partieBasse {
    
} */