header {
    display: flex;
    align-items: center;
    background-color: #333333;
    color: white;
    padding: 0.2rem 2%;
}

button {
    float: right;
}

li:hover,
a:hover {
    background-color: #0275d8;
}