<div class="container">
    <mat-horizontal-stepper [linear]="isLinear" #stepper>
        <mat-step [stepControl]="coordonneeFacturationForm">
            <form [formGroup]="coordonneeFacturationForm">
                <ng-template matStepLabel>Adresse de Facturation</ng-template>
                <div class="alert alert-info text-center" role="alert">
                    Une erreure dans les champs ci-dessous ?! Rendez-vous dans la rubrique Mon Compte > Mes informations
                </div>
                <div class="row">
                    <div class="form-group col-md-6">
                        <label>Prénom : </label>
                        <input type="text" class="form-control" formControlName="prenomFacturation" readonly />
                    </div>
                    <div class="form-group col-md-6">
                        <label>Nom : </label>
                        <input type="text" class="form-control" formControlName="nomFacturation" readonly />
                    </div>
                </div>
                <div class="form-group">
                    <label>Adresse : </label>
                    <input type="text" class="form-control" readonly formControlName="adresseFacturation" />
                </div>
                <div class="row">
                    <div class="form-group col-md-6">
                        <label>Code postal : </label>
                        <input type="text" class="form-control" readonly formControlName="CPFacturation" />
                    </div>
                    <div class="form-group col-md-6">
                        <label>Ville : </label>
                        <input type="text" class="form-control" readonly formControlName="villeFacturation" />
                    </div>
                </div>
                <div>
                    <button mat-button matStepperNext>Suivant</button>
                </div>
            </form>
        </mat-step>
        <mat-step [stepControl]="coordonneeLivraisonForm" label="Adresse de Livraison">
            <form [formGroup]="coordonneeLivraisonForm">
                <div class="alert alert-info text-center" role="alert">
                    <mat-checkbox (change)="utiliserAdresseFacturation($event)">Utiliser l'adresse de facturation ?!</mat-checkbox>
                </div>
                <div class="row">
                    <div class="form-group col-md-6">
                        <label>Prénom : </label>
                        <input type="text" class="form-control" formControlName="prenomLivraison" />
                    </div>
                    <div class="form-group col-md-6">
                        <label>Nom : </label>
                        <input type="text" class="form-control" formControlName="nomLivraison" />
                    </div>
                </div>
                <div class="form-group">
                    <label>Adresse : </label>
                    <input type="text" class="form-control" formControlName="adresseLivraison" />
                </div>
                <div class="row">
                    <div class="form-group col-md-6">
                        <label>Code postal : </label>
                        <input type="text" class="form-control" formControlName="CPLivraison" />
                    </div>
                    <div class="form-group col-md-6">
                        <label>Ville : </label>
                        <input type="text" class="form-control" formControlName="villeLivraison" />
                    </div>
                </div>
                <div>
                    <button mat-button matStepperPrevious>Retour</button>
                    <button mat-button matStepperNext [disabled]="!coordonneeLivraisonForm.valid">Suivant</button>
                </div>
            </form>
        </mat-step>
        <mat-step>
            <ng-template matStepLabel>Validation de la commande</ng-template>
            <div class="container">
                <mat-spinner *ngIf="loading" class="loader"></mat-spinner>
                <div class="alert alert-success text-center" role="alert" *ngIf="creationCommandeOK">{{messageCreationCommandeOK}}</div>
                <div class="alert alert-danger text-center" role="alert" *ngIf="creationCommandeNOK">{{messageCreationCommandeNOK}}</div>
                <h3>Récapitulatif de votre commande :</h3>
                <table>
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Nom</th>
                            <th scope="col">Quantité</th>
                            <th scope="col">Prix (€)</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let produit of panierClient">
                            <th scope="row"><img src={{produit.photoPrincipal}} alt="" srcset=""></th>
                            <td>{{produit.nom}}</td>
                            <td>{{produit.quantiteProduitCmd}}</td>
                            <td>{{produit.totalProduitCmd}}</td>
                        </tr>
                    </tbody>
                </table>
                <h1 class="text-center">Total à payer : {{totalAPayer}} €</h1>
            </div>

            <div>
                <button mat-button matStepperPrevious>Retour</button>
                <div class="alert alert-danger text-center" role="alert">
                    <mat-checkbox (change)="accepteFacturation($event)">En cochant cette case, j'accepte de régler le montant de {{totalAPayer}} €.</mat-checkbox>
                </div>
                <button type="button" class="btn btn-warning btn-lg" id="boutonPayer" (click)="validerCommande()" [disabled]="!isAccepteFacturation"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-credit-card" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M0 4a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V4zm2-1a1 1 0 0 0-1 1v1h14V4a1 1 0 0 0-1-1H2zm13 4H1v5a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V7z"/>
                    <path d="M2 10a1 1 0 0 1 1-1h1a1 1 0 0 1 1 1v1a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1v-1z"/>
                  </svg> Payer</button>
            </div>

        </mat-step>
    </mat-horizontal-stepper>
</div>